body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to left, #e3bbff, #3BACB6);
}

.container {
  width: 600px;
  display: flex;
  justify-content: space-around;
  border: 5px solid rgb(218, 218, 218);
  border-radius: 10px;
  background-color: #fff;
  padding: 40px;
  font-size: 24px;
}

.information {
  text-align: center;
}

.avatar {
  width: 250px;
}
